<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzh.hsqxtszyb.mapper.CuaceSurfaceMapper">
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    stationID, `Datetime`, validTime, AOD550_DUST, DDEPO_DUST, DFLUX_DUST, LOAD_DUST, 
    SCONC_DUST, U10, V10, WDEPO_DUST
  </sql>
  <select id="GetStationsByType" resultType="com.yzh.hsqxtszyb.model.huanbao.站点信息">
    SELECT * FROM Stations WHERE Type = #{Type} order by ID asc
  </select>

  <select id="findAllByDatetimeAndValidtime"  resultType="com.yzh.hsqxtszyb.model.huanbao.CuaceSurface">
    select
    <include refid="Base_Column_List"/>
    from cuaceSurface
    where `Datetime`=#{datetime,jdbcType=TIMESTAMP} and validTime=#{validtime,jdbcType=INTEGER}
  </select>

  <select id="findAllByStationidAndDatetime" resultType="com.yzh.hsqxtszyb.model.huanbao.CuaceSurface">
    select
    <include refid="Base_Column_List"/>
    from cuaceSurface
    where stationID=#{stationid,jdbcType=VARCHAR} and `Datetime`=#{datetime,jdbcType=TIMESTAMP}
  </select>

  <select id="GetStationsByTypeAndStationID" resultType="com.yzh.hsqxtszyb.model.huanbao.站点信息">
    SELECT * FROM Stations WHERE Type = #{Type} AND ID= #{stationid} order by ID asc
  </select>
</mapper>