<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzh.hsqxtszyb.mapper.ZNWG.GuoJiaZNWGGd001003Mapper">
  <resultMap id="BaseResultMap" type="com.yzh.hsqxtszyb.model.ZNWG.GuoJiaZNWGGd001003">
    <!--@mbg.generated-->
    <!--@Table GuoJiaZNWG_GD_001_003-->
    <id column="lonIndex" jdbcType="BIGINT" property="lonindex" />
    <id column="latIndex" jdbcType="BIGINT" property="latindex" />
    <id column="QBDateTime" jdbcType="TIMESTAMP" property="qbdatetime" />
    <id column="YBSX" jdbcType="INTEGER" property="ybsx" />
    <result column="ECT" jdbcType="FLOAT" property="ect" />
    <result column="WIV10" jdbcType="FLOAT" property="wiv10" />
    <result column="WIU10" jdbcType="FLOAT" property="wiu10" />
    <result column="ER01" jdbcType="FLOAT" property="er01" />
    <result column="ER03" jdbcType="FLOAT" property="er03" />
    <result column="ER12" jdbcType="FLOAT" property="er12" />
    <result column="ERH" jdbcType="FLOAT" property="erh" />
    <result column="GUST" jdbcType="FLOAT" property="gust" />
    <result column="HAIL" jdbcType="FLOAT" property="hail" />
    <result column="RAT" jdbcType="FLOAT" property="rat" />
    <result column="SMG" jdbcType="FLOAT" property="smg" />
    <result column="SSM" jdbcType="FLOAT" property="ssm" />
    <result column="TMP" jdbcType="FLOAT" property="tmp" />
    <result column="VIS" jdbcType="FLOAT" property="vis" />
    <result column="SAND" jdbcType="FLOAT" property="sand" />
    <result column="HZ" jdbcType="FLOAT" property="hz" />
    <result column="PPH" jdbcType="FLOAT" property="pph" />
    <result column="FOG" jdbcType="FLOAT" property="fog" />
  </resultMap>
  <resultMap id="GDFWResultMap" type="com.yzh.hsqxtszyb.model.ZNWG.入库格点经纬度范围">
    <!--@mbg.generated-->
    <!--@Table ZNWG.GDFW-->
    <id column="lonStart" jdbcType="DOUBLE" property="lonStart" />
    <id column="lonEnd" jdbcType="DOUBLE" property="lonEnd" />
    <id column="lonStep" jdbcType="DOUBLE" property="lonStep" />
    <id column="latStart" jdbcType="DOUBLE" property="latStart" />
    <result column="latEnd" jdbcType="DOUBLE" property="latEnd" />
    <result column="latStep" jdbcType="DOUBLE" property="latStep" />
    <result column="MSName" jdbcType="VARCHAR" property="MSName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    lonIndex, latIndex, QBDateTime, YBSX, ECT, WIV10, WIU10, ER01, ER03, ER12, ERH, GUST, 
    HAIL, RAT, SMG, SSM, TMP, VIS, SAND, HZ, PPH, FOG
  </sql>
  <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from GuoJiaZNWG_GD_001_003
    where lonIndex = #{lonindex,jdbcType=BIGINT}
      and latIndex = #{latindex,jdbcType=BIGINT}
      and QBDateTime = #{qbdatetime,jdbcType=TIMESTAMP}
      and YBSX = #{ybsx,jdbcType=INTEGER}
  </select>
  <select id="selectAllByQbdatetimeAndYbsx" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from GuoJiaZNWG_GD_001_003
    where QBDateTime=#{qbdatetime,jdbcType=TIMESTAMP} and YBSX=#{ybsx,jdbcType=INTEGER}
  </select>
  <select id="selectFirstGDFWByMSName" resultMap="GDFWResultMap">
    select * from GDFW
    where  MSName=#{MSName,jdbcType=VARCHAR} limit 1
  </select>

<!--auto generated by MybatisCodeHelper on 2023-07-04-->
  <select id="selectAllByLonindexAndLatindexAndQbdatetimeAndWiu10IsNotNullOrderByYbsx" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from GuoJiaZNWG_GD_001_003
    where lonIndex=#{lonindex,jdbcType=BIGINT} and latIndex=#{latindex,jdbcType=BIGINT} and
    QBDateTime=#{qbdatetime,jdbcType=TIMESTAMP} and WIU10 is not null order by YBSX asc
  </select>
</mapper>