<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yzh.hsqxtszyb.mapper.YBJYStationsMapper">
  <resultMap id="BaseResultMap" type="com.yzh.hsqxtszyb.model.huanbao.YBJYStations">
    <!--@mbg.generated-->
    <!--@Table stations-->
    <id column="stationid" jdbcType="VARCHAR" property="stationid" />
    <id column="ybname" jdbcType="VARCHAR" property="ybname" />
    <result column="stationname" jdbcType="VARCHAR" property="stationname" />
    <result column="stationtype" jdbcType="SMALLINT" property="stationtype" />
    <result column="Admin_Code" jdbcType="VARCHAR" property="adminCode" />
    <result column="Province" jdbcType="VARCHAR" property="province" />
    <result column="City" jdbcType="VARCHAR" property="city" />
    <result column="Cnty" jdbcType="VARCHAR" property="cnty" />
    <result column="Station_levl" jdbcType="INTEGER" property="stationLevl" />
    <result column="Lat" jdbcType="DOUBLE" property="lat" />
    <result column="Lon" jdbcType="DOUBLE" property="lon" />
    <result column="High" jdbcType="DOUBLE" property="high" />
    <result column="kaohetype" jdbcType="INTEGER" property="kaohetype" />
    <result column="chengzhongbs" jdbcType="SMALLINT" property="chengzhongbs" />
    <result column="chengzhongdate" jdbcType="TIMESTAMP" property="chengzhongdate" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    stationid, ybname, stationname, stationtype, Admin_Code, Province, City, Cnty, Station_levl, 
    Lat, Lon, High, kaohetype, chengzhongbs, chengzhongdate
  </sql>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="selectAllByYbname" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stations
    where ybname=#{ybname,jdbcType=VARCHAR}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="selectAllByYbnameAndStationLevlBetweenEqual" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stations
    where ybname=#{ybname,jdbcType=VARCHAR} and Station_levl <![CDATA[>=]]> #{minStationLevl,jdbcType=INTEGER} and
    Station_levl <![CDATA[<=]]> #{maxStationLevl,jdbcType=INTEGER}
  </select>

<!--auto generated by MybatisCodeHelper on 2022-03-21-->
  <select id="selectAllByYbnameAndStationLevlIn" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stations
    where ybname=#{ybname,jdbcType=VARCHAR} and Station_levl in
    <foreach item="item" index="index" collection="stationLevlCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>
  <select id="selectAllByYbnameAndStationLevlInAndAdminCodeReg" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from stations
    where ybname=#{ybname,jdbcType=VARCHAR} and Admin_Code REGEXP #{AdminCodeReg} and Station_levl in
    <foreach item="item" index="index" collection="stationLevlCollection"
             open="(" separator="," close=")">
      #{item,jdbcType=INTEGER}
    </foreach>
  </select>
</mapper>