<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--- 命名空间 namespace -->
<mapper namespace="com.yzh.hsqxtszyb.dao.EcSurfaceDao">
    <!-- 结果集映射 -->
    <resultMap id="myStation" type="com.yzh.hsqxtszyb.model.站点信息">
        <id column="ID" property="ID" />
        <result column="Name" property="Name" />
        <result column="Admin_Code" property="Admin_Code" />
        <result column="Province" property="Province" />
        <result column="City" property="City" />
        <result column="Cnty" property="Cnty" />
        <result column="Station_levl" property="Level" />
        <result column="Lat" property="Lat" />
        <result column="Lon" property="Lon" />
        <result column="Height" property="Height" />
    </resultMap>
    <!-- 查询sql -->
    <select id="getECSurface"  resultType="com.yzh.hsqxtszyb.model.EC.ECDataModel">
        SELECT ID,MyDate,SX,${DataType} FROM [${TableName}] WHERE  MyDate = #{DateString}
        <choose>
            <when test='#{DataType}.toString().contains(",")'>
                AND ID IN ${ID}
            </when>
            <otherwise>
                AND ${DataType} IS NOT NULL AND ${DataType} >-99990 AND ID IN ${ID}
            </otherwise>
        </choose>
    </select>
    <select id="getECSurfaceBySXIdsDataType"  resultType="com.yzh.hsqxtszyb.model.EC.ECDataModel">
        SELECT ID,MyDate,SX,${DataType} FROM [${TableName}] WHERE  MyDate = #{DateString} AND SX=#{SX}
        <choose>
            <when test='#{DataType}.toString().contains(",")'>
                AND ID IN ${ID}
            </when>
            <otherwise>
                AND ${DataType} IS NOT NULL AND ${DataType} >-99990 AND ID IN ${ID}
            </otherwise>
        </choose>
    </select>
    <select id="getStationByID"  resultType="com.yzh.hsqxtszyb.model.EC.ECDataModel">
        SELECT ID,MyDate,SX,${DataType} FROM [${TableName}] WHERE  MyDate = #{DateString} AND SX=#{SX}
        <choose>
            <when test='#{DataType}.toString().contains(",")'>
                AND ID IN ${ID}
            </when>
            <otherwise>
                AND ${DataType} IS NOT NULL AND ${DataType} >-99990 AND ID IN ${ID}
            </otherwise>
        </choose>
    </select>
    <select id="GetECStationByIdAndStationType" resultMap="myStation" >
        SELECT *  FROM Stations WHERE Station_levl IN (${StationLevlString}) AND (${ID})
    </select>
</mapper>