<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--- 命名空间 namespace -->
<mapper namespace="com.yzh.hsqxtszyb.dao.zhiNengWangGeDao">
    <!-- 结果集映射 -->

    <!-- 查询sql -->
    <select id="getGjZNWG3h240"  resultType="com.yzh.hsqxtszyb.model.ZNWG.GJZNWGDataModel">
        SELECT * FROM 全国智能网格预报服务产品3h240 WHERE [StatioID] IN (${StatioID}) AND SC = #{SC} AND SX &gt;= #{MinSX} AND SX &lt;= #{MaxSX} AND Date=#{Date}
    </select>

</mapper>